body {
  /* background-color: #e6f2ff; */
}

.column1 {
  float: left;
  width: 55%;
}

.column2 {
  float: left;
  width: 45%;
  padding-left: 60px;
}

.column3 {
  float: left;
  /* width: 50%; */
}

.column4 {
  float: left;
  padding-eft: 20px;
  /* width: 50% */
}

#map {
  height: 250px;
  width: 250px;
  border: 0.95px solid black;
}

#mapTitle {
  font-size: 14px;
}

.mapBox {
  margin: 20px 5px 5px 70px;
}

.containers {
  display: flex;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.line2 {
  fill: none;
  stroke-width: 1.5px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.lineHoverText {
	text-shadow:
	-2px -2px 0 #fff,
	2px -2px 0 #fff,
	-2px 2px 0 #fff,
	2px 2px 0 #fff;
}

.hoverCircle {
	opacity: .75;
}

#title {
  text-align: center;
  font-size: 18px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black lightgray;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: lightgray;
}
*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

div.scroll {
  /* background-color: #fed9ff; */
  width: 550px;
  height: 500px;
  overflow: auto;
  text-align: justify;
  border: 1px solid black;
}

.yearLabel {
  font-size: 13px;
}

.selector, input {
  font: 14px sans-serif;
  vertical-align: middle;
}

.container {
  padding-top: 20px;
}

label {
  margin-bottom: 0px !important;
}

.dropdown {
  width:300px;
  padding-top:30px;
}

#modal {
  padding-top:30px;
  padding-left:20px;
  float: left;
}

#variations {
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
  /* overflow: hidden; */
}
